:root {
    --card-colour: hsl(216,50%,16%);
    --main-colour: hsl(217,54%,11%);
    --overlay-colour: hsla(178, 100%, 50%, 0.4);
    --cyan: hsla(178, 100%, 50%);
    --soft-blue: hsl(215, 51%, 70%);
    --white: hsl(0, 0%, 100%);


    --border-radius: 10px;
    --margin: 24px;


    --text-light: 300;
    --text-medium: 400;
    --text-heavy: 600;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 18px;
    color: var(--white);
    font-weight: var(--text-light);
    font-family: 'Outfit', sans-serif;
    background-color: var(--main-colour);
}
h1 {
    font-size: 22px;
    font-weight: var(--text-medium);
    margin-bottom: var(--margin);
}
h1:hover {
    color: var(--cyan);
    cursor: pointer;
}
p {
    color: var(--soft-blue);
}
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--border-radius);
    padding: 25px;
    background-color: var(--card-colour);
    width: 325px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.nft-image {
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: var(--border-radius);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-bottom: var(--margin);
}
.nft-image-base { 
    width: 100%;
    border-radius: var(--border-radius);
    object-fit: cover;
    object-position: center;
}
.nft-image-overlay {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
}
.nft-image:hover .nft-image-overlay {
    background-color: var(--overlay-colour)
}
.view-icon {
    width: 32px;
    opacity: 0;
    position: absolute;
    top: 124px;
    left: 124px;
}
.nft-image:hover .view-icon {
    opacity: 1;
}
.nft-desc {
    margin-bottom: var(--margin);
}
.nft-info-box {
    display: flex;
    align-items: center;
}
.gap {
    justify-content: space-between;
}
.nft-price {
    display: flex;
    align-items: center;
}
.nft-time {
    display: flex;
    align-items: center;
}
.eth-icon {
    width: 10px;
    margin-right: 10px;
}
.nft-price-text {
    font-weight: var(--text-medium);
    font-size: 16px;
}
.time-icon {
    width: 14px;
    margin-right: 8px;
}
.nft-time-text {
    font-size: 16px;
}
.hr {
    margin-top: 28px;
    margin-bottom: 16px;
    background-color: hsl(215, 32%, 27%);
    height: 2px;
}
.creator-box {
    display: flex;
    align-items: center;
}
.avatar {
    width: 35px;
    border: 1px solid var(--white);
    border-radius: 50%;
    margin-right: 16px;
}
.creator-name {
    color: var(--white);
    cursor: pointer;
}
.creator-name:hover {
    color: var(--cyan);
}
.attribution {
    position: absolute;
    left: 42%;
    bottom: 10px
}